@import "./base.css";

#app {
  margin: auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.a {
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #eee;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
    text-decoration: none;
  }

  #app {
    display: grid;
    grid-template-columns: auto;
    padding: 0 2rem;
  }
}
